<!-- video #24 -->
<h2>Hello World</h2>
<!-- Add router links -->
<a routerLink="users">User</a>
<br><br>
<a routerLink="admin">Admin</a>
<br><br>
<a routerLink="about">About</a>

<br><br>
<a routerLink="contact">Contact</a>


<!-- for loading the data of particular a route in this case user or admin -->
<router-outlet></router-outlet>

<!-- video # 26 -->
<h2>Custom Directive in Angular</h2>
<h3 appCustomStyle>Normal Heading</h3>
<!-- use directive in h4 -->
<h4 appCustomStyle>Custom Heading</h4>

<!-- video # 27 -->
<h2>Services in Angular</h2>
<h4> {{name}} </h4>

<!-- Video # 28 -->
<h2>API Call in Angular</h2>

<!-- Video # 29 -->
<h2>Show List from API data in Angular</h2>

<!-- rendered data in table -->
<table border="1">
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>UserId</td>
  </tr>
  <tr *ngFor = "let item of data">
    <td> {{item.id}} </td>
    <td> {{item.title}} </td>
    <td> {{item.userId}} </td>
  </tr>
</table>

<!-- recap routing and module -->
<h2>Recap Routing and module in Angular</h2>
<!-- <ul> -->
 
    <!-- <li> <a routerLink="login">Login</a></li>
    <li> <a routerLink="signup">Signup</a></li>
    <router-outlet></router-outlet> -->
  <!-- <app-login></app-login>
<app-signup></app-signup> -->
<!-- </ul> -->

<!-- video # 32 -->
<!-- routing module in angular -->
<ul>
 
  <li> <a routerLink="adminLogin">Admin Login</a></li>
  <li> <a routerLink="adminList">Admin List</a></li>
  
<!-- <app-login></app-login>
<app-signup></app-signup> -->
</ul>
<router-outlet></router-outlet>