<!-- video #24 -->
<h2>Hello World</h2>
<!-- Add router links -->
<a routerLink="users">User</a>
<br><br>
<a routerLink="admin">Admin</a>
<br><br>
<a routerLink="about">About</a>

<br><br>
<a routerLink="contact">Contact</a>


<!-- for loading the data of particular a route in this case user or admin -->
<router-outlet></router-outlet>

<!-- video # 26 -->
<h2>Custom Directive in Angular</h2>
<h3 appCustomStyle>Normal Heading</h3>
<!-- use directive in h4 -->
<h4 appCustomStyle>Custom Heading</h4>

<!-- video # 27 -->
<h2>Services in Angular</h2>
<h4> {{name}} </h4>

<!-- Video # 28 -->
<h2>API Call in Angular</h2>

<!-- Video # 29 -->
<h2>Show List from API data in Angular</h2>

<!-- rendered data in table -->
<table border="1">
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>UserId</td>
  </tr>
  <tr *ngFor="let item of data">
    <td> {{item.id}} </td>
    <td> {{item.title}} </td>
    <td> {{item.userId}} </td>
  </tr>
</table>

<!-- recap routing and module -->
<h2>Recap Routing and module in Angular</h2>
<!-- <ul> -->

<!-- <li> <a routerLink="login">Login</a></li>
    <li> <a routerLink="signup">Signup</a></li>
    <router-outlet></router-outlet> -->
<!-- <app-login></app-login>
<app-signup></app-signup> -->
<!-- </ul> -->

<!-- video # 32 -->
<!-- routing module in angular -->
<!-- <ul>
 
  <li> <a routerLink="login">Admin Login</a></li>
  <li> <a routerLink="list">Admin List</a></li>
  

</ul>
<router-outlet></router-outlet> -->

<!-- Video #33 Group Routing in Angular-->
<h2>Group Routing in Angular</h2>
<h3>Admin Pages</h3>
<ul>

  <li> <a routerLink="admin/login">Login</a></li>
  <li> <a routerLink="admin/list">List</a></li>


</ul>
<h3>User Pages</h3>
<ul>

  <li> <a routerLink="user/login">Login</a></li>
  <li> <a routerLink="user/list">List</a></li>


</ul>
<router-outlet></router-outlet>

<!-- Video # 34 Lazy Loading in Angular -->
<h2>Lazy Loading in Angular</h2>
<h3>Customer Links in Angular</h3>
<ul>

  <li> <a routerLink="customer/login">Login</a></li>
  <li> <a routerLink="customer/list">List</a></li>


</ul>
<br><br>
<h3>Artist Links in Angular</h3>
<ul>

  <li> <a routerLink="artist/login">Login</a></li>
  <li> <a routerLink="artist/list">List</a></li>


</ul>
<router-outlet></router-outlet>

<!-- lazy loading of a component in angular -->
<!-- Video # 35 -->
<!-- <h2>Lazy Loading a Component in Angular</h2>
<button (click) = "loadAdmin()">Load User list</button>
<button (click) = "loadUser()">Load Admin list</button> -->

<!-- Video # 37 -->
<!-- <h2>Template Driven Forms in Angular</h2>
<div class="col-sm-6">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input ngModel type="email" class="form-control" name="email" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input ngModel type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->

<!-- Video # 39 -->
<!-- <h2>Angular Reactive Form Validations</h2>

<div class="col-sm-6">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName = "email" placeholder="Enter email">
      <span class="red-error" *ngIf= "email.invalid && email.touched">Email field is required</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName = "password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->

<!-- video # 40 -->
<!-- <h2>Validations in Template Driven Forms</h2>
<h2>Template Driven Forms in Angular</h2>
<div class="col-sm-6">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input ngModel type="email" class="form-control" name="email" aria-describedby="emailHelp" #email = "ngModel" required
        placeholder="Enter email">
        <span *ngIf= "email.invalid && email.touched" class="red-error">Email field cannot be empty</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input ngModel type="password" class="form-control" name="password" placeholder="Password" >
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->

<!-- Video # 41 -->
<h2>Prefilled Angular Form</h2>

<form #userForm = "ngForm">
  <input type="text" name="email" [ngModel] = "userData.email"> <br><br>
  <input type="password" name="password" [ngModel] = "userData.password"> <br><br>
  <input type="text" name="address" [ngModel] = "userData.address"> <br><br>
  <input type="text" name="mobile" [ngModel] = "userData.mobile"> <br><br>
  <button type="submit">Save</button>


</form>

<!-- Video # 42 -->
<h2>Angular Reactive Form</h2>

<form [formGroup]="loginForm" (ngSubmit) = "collectData()">
  <input type="text" name="username" formControlName = "username"> <br><br>
  <input type="password" name="password" formControlName = "password"> <br><br>
<button type="submit">Login</button>
</form>